@charset "UTF-8";
/* MEDIA QUERIES */
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .bannerTitle {
    margin-top: -33rem !important; } }

@media screen and (max-width: 40em) {
  .slicknav_menu {
    display: block !important; }
    .slicknav_menu .slicknav_nav ul li {
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 300;
      color: #ffffff; }
  header .logo a img {
    height: 70px;
    margin: 0 auto; }
  header .menu {
    display: none; }
  .bannerTitle {
    display: none; }
  .itemServico {
    margin-right: 5px;
    margin-left: 25px; }
  main {
    margin-bottom: -625px !important; }
  footer, .push {
    height: 625px !important; } }

/* MEDIA QUERIES */
/* COMMON CLASS */
.pageTop {
  background-color: #A81E22;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px; }
  .pageTop div div div h1 {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff; }

.servicos {
  padding-top: 30px;
  padding-bottom: 30px; }
  .servicos .title h3 {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 300; }
  .servicos .all a {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 300; }
    .servicos .all a i {
      background-color: #d7d9dc;
      padding: 10px 12px;
      border-radius: 50%;
      border: 1px solid transparent;
      margin-left: 10px; }
  .servicos .botoes {
    margin-bottom: 20px; }
    .servicos .botoes .btn-default {
      border: none;
      background: none;
      box-shadow: none;
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 300;
      border: 2px solid transparent; }
    .servicos .botoes .active {
      border: 2px solid #e7e8ea;
      background-color: #ffffff;
      box-shadow: none;
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 300; }
  .servicos .itemServico {
    margin-right: 55px;
    margin-bottom: 20px;
    background-color: #b3b8bc;
    border: 8px solid #53575f;
    box-sizing: border-box;
    height: 250px;
    width: 280px;
    padding-right: 0; }
    .servicos .itemServico .nomeServico {
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 1.3em;
      text-transform: uppercase;
      font-weight: 300;
      font-weight: 700;
      height: 75px;
      margin-top: 30px;
      line-height: 30px; }
    .servicos .itemServico .tipoServico {
      font-family: "Open Sans", sans-serif;
      color: #7e8082;
      font-size: 1em;
      font-style: italic; }
    .servicos .itemServico .vejaMais {
      background-color: #A81E22;
      padding: 10px 30px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 39px;
      border-right: 1px solid #53575f;
      -webkit-transition: width, 0.5s;
      transition: width, 0.5s;
      margin-top: 15px; }
      .servicos .itemServico .vejaMais i {
        color: #ffffff;
        font-size: 1.3em;
        width: 105px; }
      .servicos .itemServico .vejaMais:hover {
        width: 170px; }
        .servicos .itemServico .vejaMais:hover i:after {
          content: 'Veja Mais';
          font-family: "Oswald", sans-serif;
          color: #6f6f73;
          font-size: 0.8em;
          text-transform: uppercase;
          font-weight: 300;
          color: #ffffff;
          width: 105px;
          margin-left: 15px; }

/* COMMON CLASS */
.slicknav_menu {
  display: none; }

header {
  margin: 20px 0; }
  header .logo a img {
    height: 70px; }
  header .menu ul li {
    display: inline-block;
    padding: 27px 25px;
    background-color: transparent;
    -webkit-transition: background-color, 0.5s;
    transition: background-color, 0.5s; }
    header .menu ul li:hover {
      background-color: #A81E22;
      color: #ffffff; }
    header .menu ul li a {
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 0.9em;
      text-transform: uppercase;
      font-weight: 300;
      text-decoration: none; }
      header .menu ul li a:hover {
        color: #ffffff; }

main {
  min-height: 100%;
  margin-bottom: -345px; }
  main .push {
    height: 345px; }

footer {
  height: 345px;
  background-color: #282b2e; }
  footer .social {
    padding-top: 25px;
    padding-bottom: 25px; }
    footer .social h2 {
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 2.3em;
      text-transform: uppercase;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 30px; }
    footer .social ul li ul li {
      display: inline-block; }
      footer .social ul li ul li a {
        color: #ffffff; }
        footer .social ul li ul li a i {
          padding: 25px 0;
          width: 75px;
          border: 2px solid #ffffff;
          border-radius: 50%;
          text-align: center;
          font-size: 1.5em;
          margin-right: 10px;
          -webkit-transition: border-color, 0.2s;
          transition: border-color, 0.2s; }
          footer .social ul li ul li a i:hover {
            border-color: #A81E22; }
        footer .social ul li ul li a:hover {
          -webkit-transition: color, 0.2s;
          transition: color, 0.2s;
          color: #A81E22; }
  footer .contato {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #636a71; }
    footer .contato h2 {
      font-family: "Oswald", sans-serif;
      color: #6f6f73;
      font-size: 2.3em;
      text-transform: uppercase;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 30px; }
    footer .contato ul li {
      margin-bottom: 15px; }
      footer .contato ul li ul li i {
        float: left;
        color: #ffffff;
        font-size: 1.9em;
        margin-right: 15px; }
      footer .contato ul li ul li p, footer .contato ul li ul li a {
        font-family: "Open Sans", sans-serif;
        color: #7e8082;
        font-size: 1em;
        color: #ffffff;
        margin-top: 10px; }
  footer .bottomMenu {
    padding-top: 25px;
    padding-bottom: 25px; }
    footer .bottomMenu ul li {
      display: inline-block;
      margin-right: 25px; }
      footer .bottomMenu ul li a {
        font-family: "Oswald", sans-serif;
        color: #6f6f73;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 300;
        color: #ffffff; }
  footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px; }
    footer .copyright p {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      color: #7e8082;
      font-size: 1.1em; }

/* CSS - PARTIALS */
/* HOME - INÍCIO */
.home .banner img {
  width: 100%;
  display: block; }

.home .banner .bannerTitle {
  position: relative;
  margin-top: -40rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px 30px; }
  .home .banner .bannerTitle ul li h2 {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    text-align: center; }
  .home .banner .bannerTitle ul li p {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin: 15px 0 30px 0; }
  .home .banner .bannerTitle ul li a {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 15px 40px;
    text-decoration: none;
    -webkit-transition: background-color, 0.5s;
    transition: background-color, 0.5s; }
    .home .banner .bannerTitle ul li a:hover {
      background-color: #ffffff;
      color: #6f6f73; }

.home .workflow {
  background-color: #A81E22; }
  .home .workflow .box {
    padding-top: 45px;
    padding-bottom: 30px; }
    .home .workflow .box ul li {
      margin-bottom: 15px; }
      .home .workflow .box ul li i {
        color: #ffffff;
        font-size: 4em; }
      .home .workflow .box ul li h2 {
        font-family: "Oswald", sans-serif;
        color: #6f6f73;
        font-size: 1.8em;
        text-transform: uppercase;
        font-weight: 300;
        color: #ffffff; }
      .home .workflow .box ul li p {
        font-family: "Open Sans", sans-serif;
        color: #7e8082;
        font-size: 0.9em;
        color: #ffffff; }

/* HOME-FIM */
/* PORTFOLIO LISTA - INICIO*/
.portfolio .case {
  margin-top: 25px;
  margin-bottom: 25px; }
  .portfolio .case li h3 {
    font-family: "Oswald", sans-serif;
    color: #6f6f73;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 300;
    background-color: #ffffff;
    margin-top: -45px;
    position: absolute;
    padding: 25px 20px 0px 10px; }

/* PORTFOLIO LISTA - INICIO*/
