$fontRegular: 'Open Sans', sans-serif;
$fontDestaque: 'Oswald', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$vermelho: #A81E22;
$branco: #ffffff;
$fontSize: 1em;
$cinzaClaro: #d7d9dc;
$cinzaPadrao: #7e8082;
$cinzaDestaque: #6f6f73;


$break-small: 40em;


@mixin fontPadraoMX($fontSize){
    font-family: $fontRegular;
    color: $cinzaPadrao ;
    font-size: $fontSize;
}
@mixin fontDestaqueMX($fontSize){
    font-family: $fontDestaque;
    color: $cinzaDestaque;
    font-size: $fontSize;  
    text-transform: uppercase;
    font-weight: $light;
}
@mixin transitionMX($propriedade, $tempo){
    transition: $propriedade, $tempo;
}

@mixin pageTitleMX{
    background-color: $vermelho;
    color: $branco;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* MEDIA QUERIES */

@media screen and (min-width:1280px) and (max-width:1440px){
    .bannerTitle{
        margin-top: -33rem !important;
    }
}

@media screen and (max-width: $break-small){
    .slicknav_menu{
        display: block!important;
        & .slicknav_nav{
            & ul{
                & li{
                    @include fontDestaqueMX(1em);
                    color: $branco;
                }
            }
        }
    }

    .servicosHomeMobile{
        display: block!important;
        & p{
            width: 90%;
            white-space: normal;
        }
        & .arrow{
            z-index:9;
            position: absolute;
            bottom: 10px;
            float: right;
            left: 45%;
            & p{
                @include fontPadraoMX(0.8em);
                color: $branco;
                display: inline-block;
                width: 150px;
                margin-bottom: 15px;
                padding-right: 20px;
            }
            & i{
                font-size: 2em;
                color: $branco;
                position: absolute;
                bottom: 5px;
            }
        }
        
    }
    .servicosHomeDesktop{
        display: none!important;
    }
    header{
        & .logo{
            & a{
                & img{
                    height: 70px;
                    margin: 0 auto;
                }
            }
        }
        & .menu{
            display: none;
        }
    }
    .bannerTitle{
        display: none;
    }
    .itemServico{
        margin-right: 5px;
        margin-left: 25px;
    }
    main{
        margin-bottom: -625px!important;
    }
    footer, .push{
        height: 625px!important;
    }
}

/* MEDIA QUERIES */

/* COMMON CLASS */
.servicosHomeMobile{
    display:none;
}
.pageTop{
    @include pageTitleMX();
    & div{
        & div{
            & div{
                & h1{
                    @include fontDestaqueMX(2.3em);
                    color: $branco;
                }
            }
        }
    }
}


.cases{
    padding-top: 30px;
    padding-bottom: 30px;
    & .title{
        & h3{
            @include fontDestaqueMX(1.4em);
        }
    }
    & .all{
        & a{
            @include fontDestaqueMX(1em);
            & i{
                background-color: $cinzaClaro;
                padding: 10px 12px;
                border-radius: 50%;
                border: 1px solid transparent;
                margin-left: 10px;
            }
        }
    }
    & .botoes{
        margin-bottom: 20px;
        & .btn-default{
            border: none;
            background:none;
            box-shadow: none;
            @include fontDestaqueMX(1em);
            border: 2px solid transparent;

        }
        & .active{
            border: 2px solid #e7e8ea;
            background-color:$branco;
            box-shadow: none;
            @include fontDestaqueMX(1em);
        }
    }
    & .itemServico{
        margin-right: 55px;
        margin-bottom: 20px;
        background-color: #b3b8bc;
        border: 8px solid #53575f;
        box-sizing: border-box;
        height: 250px;
        width: 280px;
        padding-right: 0;
        & .nomeServico{
            @include fontDestaqueMX(1.3em);
            font-weight: $bold;
            height: 75px;
            margin-top: 30px;
            line-height: 30px;
        }
        & .tipoServico{
            @include fontPadraoMX(1em);
            font-style: italic;
        }
        & .vejaMais{
            background-color: $vermelho;
            padding: 10px 30px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 39px;
            border-right: 1px solid #53575f;
            @include transitionMX(width, .5s);
            margin-top: 15px;
            & i{
                color: $branco;
                font-size: 1.3em;
                width: 105px;
            }
            &:hover{
                width: 170px;
                & i{
                    &:after{
                        content: 'Veja Mais';
                        @include fontDestaqueMX(0.8em);
                        color: $branco;
                        width: 105px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
/* COMMON CLASS */

.slicknav_menu{
    display: none;
}

header{
    margin:20px 0;
    & .logo{
        & a{
            & img{
                height: 70px;
            }
        }
    }
    & .menu{
        & ul{
            & li{
                display: inline-block;
                padding: 27px 25px;
                background-color: transparent;
                @include transitionMX(background-color, 0.5s);
                &:hover{
                    background-color: $vermelho;
                    color: $branco;
                }
                & a{
                    @include fontDestaqueMX(0.9em);
                    text-decoration: none;
                    &:hover{
                        color: $branco;
                    }
                }
            }
        }
    }
}
.contato{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #636a71;
    & h2{
        @include fontDestaqueMX(2.3em);
        color: $branco;
        margin-bottom: 30px;
    }
    & ul{
        & li{
            margin-bottom: 15px;
            & ul{
                & li{
                    & i{
                        float: left;
                        color: $branco;
                        font-size: 1.9em;
                        margin-right: 15px;
                    }
                    & p, a{
                        @include fontPadraoMX(1em);
                        color: $branco;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
main{
    min-height: 100%;
    margin-bottom: -345px;
    & .push{
        height: 345px;
    }
}
footer{
    height: 345px;
    background-color: #282b2e;
    & .social{
        padding-top: 25px;
        padding-bottom: 25px;
        & h2{
            @include fontDestaqueMX(2.3em);
            color: $branco;
            margin-bottom: 30px;
        }
        & ul{
            & li{
                & ul{
                    & li{
                        display: inline-block;
                        & a{
                            color: $branco;
                            & i{
                                padding: 25px 0;
                                width: 75px;
                                border: 2px solid $branco;
                                border-radius: 50%;
                                text-align: center;
                                font-size: 1.5em;
                                margin-right: 10px;
                                @include transitionMX(border-color, 0.2s);
                                &:hover{
                                    border-color: $vermelho;
                                }
                            }
                            &:hover{
                                @include transitionMX(color, 0.2s);
                                color: $vermelho;
                            }
                        }
                    }
                }
            }
        }
    }
    & .bottomMenu{
        padding-top: 25px;
        padding-bottom: 25px;
        & ul{
            & li{
                display: inline-block;
                margin-right: 25px;
                & a{
                    @include fontDestaqueMX(1.1em);
                    color: $branco;
                }
            }
        }
    }
    & .copyright{
        padding-top: 25px;
        padding-bottom: 25px;
        & p{
            color: $branco;
            @include fontPadraoMX(1.1em);
        }
    }
}


/* CSS - PARTIALS */


/* HOME - INÍCIO */
.home{
    .banner{
        & img{
            width: 100%;
            display: block;
        }
        & .bannerTitle{
            position: relative;
            margin-top:-40rem;
            background-color: rgba(0,0,0, 0.4);
            padding: 100px 30px;
            & ul{
                & li{
                    & h2{
                        @include fontDestaqueMX(3em);
                        color: $branco;
                        text-align: center;
                    }
                    & p{
                        @include fontDestaqueMX(1.5em);
                        color: $branco;
                        text-align: center;
                        margin: 15px 0 30px 0;
                    }
                    & a{
                        @include fontDestaqueMX(0.8em);
                        color: $branco;
                        text-align: center;
                        border: 1px solid $branco;
                        border-radius: 3px;
                        padding: 15px 40px;
                        text-decoration: none;
                        @include transitionMX(background-color, 0.5s);
                        &:hover{
                            background-color: $branco;
                            color: #6f6f73;
                        }
                    }
                }
            }
        }
    }
    .workflow{
        background-color: $vermelho;
        & .box{
            padding-top: 45px;
            padding-bottom: 30px;
            & ul{
                & li{
                    margin-bottom: 15px;
                    & i{
                        color: $branco;
                        font-size: 4em;
                    }
                    & h2{
                        @include fontDestaqueMX(1.8em);
                        color: $branco;
                    }
                    & p{
                        @include fontPadraoMX(0.9em);
                        color: $branco;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
/* HOME-FIM */

/* PORTFOLIO LISTA - INICIO*/
.portfolio{
    & .case{
        margin-top: 25px;
        margin-bottom: 25px;
        & .destaque{
            & ul{
                & li{
                    & h3{
                        @include fontDestaqueMX(1.3em);
                        background-color: $branco;
                        margin-top: -45px;
                        position: absolute;
                        padding: 25px 20px 0px 10px;
                    }
                }

            }
        }
        & .detalheCase{
            & ul{
                & li{
                    & p{
                        @include fontPadraoMX(0.8em);
                        margin-top: 10px;
                        & i{
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        & .descricao{
            & p{
                @include fontPadraoMX(1em);
                margin-top: 10px;
                text-align: justify;
            }
        }
        & .tecnologias{
            margin-top: 10px;
            & ul{
                & li{
                    margin-bottom: 10px;
                    & h4{
                        @include fontDestaqueMX(1.5em);
                    }
                    & p{
                        @include fontDestaqueMX(1em);

                        & i{
                            font-size: 2em;
                            color: $cinzaDestaque;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}
/* PORTFOLIO LISTA - FIM*/

/* SERVICO - INCIO */
.servicos{
    & .siteInstitucional, & .emailMarketing, & .wordpress{
        background-color: $cinzaClaro;        
    }
    & .landingPage, & .sistemas{
        background-color: #c7c8c9;
    }
    & .icone, & .texto{
        padding: 25px 0;
        & i{
            font-size: 4em;
            color: $cinzaDestaque;
            border: 4px solid $cinzaDestaque;
            padding: 25px;
            border-radius: 50%;
        }
        & h3{
            @include fontDestaqueMX(1.5em);
            padding-bottom: 10px;
        }
        & span{
            @include fontDestaqueMX(1em);
        }
        & p{
            @include fontPadraoMX(1em);
            padding-top: 10px;
        }
    }
}
/* SERVICO - FIM */

/* CONTATO - INICIO */
.contatos{
    & .formContato{
        padding-top: 25px;
        padding-bottom: 25px;
        & ul{
            & li{
                & h4{
                    @include fontDestaqueMX(2.3em);
                    margin-bottom: 30px;
                }
                & form{
                    & label{
                        @include fontDestaqueMX(1em);
                        padding-bottom: 10px;
                    }
                    & input, & textarea{
                        @include fontPadraoMX(0.9em);
                        resize: none;
                    }
                    & button{
                        @include fontDestaqueMX(1em);
                        border-radius: none;
                        color: $branco;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
    & .contato{
        background-color: transparent;
        & h2{
        @include fontDestaqueMX(2.3em);
        margin-bottom: 30px;
        }
        & ul{
            & li{
                margin-bottom: 15px;
                & ul{
                    & li{
                        & i{
                            float: left;
                            color: $cinzaDestaque;
                            font-size: 1.9em;
                            margin-right: 15px;
                        }
                        & p, a{
                            @include fontPadraoMX(1em);
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
/* CONTATO - FIM */
