<main class="portfolio">
    <section class="pageTop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-11 col-md-offset-1">
                    <h1 class="col-md-4">
                        Portfolio
                    </h1>
                </div>
            </div>
        </div>
    </section>
    
    <section class="case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <ul>
                        <li>
                            <img src="../img/jsource1.jpg" class="img-responsive">
                        </li>
                        <li>
                            <h3>
                                {{casePortfolio.nome}}
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>







    
    <div class="push"></div>
</main>
