<main class="servicos">
    <section class="pageTop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-11 col-md-offset-1">
                    <h1 class="col-md-4">
                        Serviços
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="siteInstitucional col-xs-12 col-md-12">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="icone col-md-3 col-xs-6">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="texto col-md-7 col-xs-6">
                            <h3>Site Institucional</h3>
                            <span>Site estático</span>
                            <p>Criação de site institucional. Com o único objetivo de mostrar a organização, quem ela é. Site com 4 ou 5 páginas. Não tem painel administrativo incluso.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="landingPage col-xs-12 col-md-12">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="texto col-md-7 col-xs-6">
                            <h3>Landing Page</h3>
                            <span>Página Única</span>
                            <p>Criação de Landing pages promocionais. Muito utilizadas em hotsites promocionais. Desenvolvimento de código. Layout não incluído.</p>
                        </div>
                        <div class="icone col-md-3 col-md-offset-2 col-xs-6">
                            <i class="fa fa-rocket"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="emailMarketing col-xs-12 col-md-12">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="icone col-md-3 col-xs-6">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <div class="texto col-md-7 col-xs-6">
                            <h3>E-mail Marketing</h3>
                            <span>Desenvolvimento de E-mail</span>
                            <p>Criação de E-mail Marketing. Desenvolvimento de código. Layout e disparos não incluídos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sistemas col-xs-12 col-md-12">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="texto col-md-7 col-xs-6">
                            <h3>Sistemas</h3>
                            <span>Sistema Personalizado</span>
                            <p>Criação de sistema de acordo com necessidade do cliente. Análise e Levantamento de Requisitos, Desenvolvimento, Testes.</p>
                        </div>
                        <div class="icone col-md-3 col-md-offset-2 col-xs-6">
                            <i class="fa fa-gears"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wordpress col-xs-12 col-md-12">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="icone col-md-3 col-xs-6">
                            <i class="fa fa-wordpress"></i>
                        </div>
                        <div class="texto col-md-7 col-xs-6">
                            <h3>Site em Wordpress</h3>
                            <span>Site dinâmico</span>
                            <p>Criação de site institucional, portfolio, blog. Site dinâmico com painel administrativo operável pelo cliente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="push"></div>
</main>
