$fontRegular: 'Open Sans', sans-serif;
$fontDestaque: 'Oswald', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$vermelho: #A81E22;
$branco: #ffffff;
$fontSize: 1em;
$cinzaClaro: #d7d9dc;
$cinzaPadrao: #7e8082;
$cinzaDestaque: #6f6f73;


$break-small: 40em;


@mixin fontPadraoMX($fontSize){
    font-family: $fontRegular;
    color: $cinzaPadrao ;
    font-size: $fontSize;
}
@mixin fontDestaqueMX($fontSize){
    font-family: $fontDestaque;
    color: $cinzaDestaque;
    font-size: $fontSize;  
    text-transform: uppercase;
    font-weight: $light;
}
@mixin transitionMX($propriedade, $tempo){
    transition: $propriedade, $tempo;
}

@mixin pageTitleMX{
    background-color: $vermelho;
    color: $branco;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* MEDIA QUERIES */

@media screen and (min-width:1280px) and (max-width:1440px){
}

@media screen and (max-width: $break-small){

}

/* MEDIA QUERIES */